<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/words.js" defer></script>
    <script src="static/js/save_anki.js" defer></script>
    <link rel="stylesheet" href="static/style.css">
    <title>English Boost</title>
</head>
<body>
    <div class="container">
        <h1>dictionary😎</h1>
        
        <div class="main-layout">
            
            <div class="dictionary-section">
                <ul id="words-list">
                    {% for word in words %}
                        <li>
                            <div class="word-info">
                                <span class="word-main">{{word.word}}</span>
                                <span class="word-translate">{{word.translate}}</span>
                                {% if word.context %}
                                    <span class="word-context">Context: {{word.context}}</span>
                                {% endif %}
                            </div>
                            <div>
                                <form action="/delete" method="post" style="display: inline;">
                                    <input type="hidden" name="id" value="{{ word.id }}">
                                    <button type="submit" class="btn-delete" title="Delete">❌</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="sidebar-section">
                <div class="form-section">
                    <form action="/" method="post">
                        <div class="form-group">
                            <div class="input-field">
                                <label for="word">Word</label>
                                <input type="text" id="word" name="word" required autocomplete="off">
                            </div>
                            
                            <div class="input-field">
                                <label for="translate">Translation</label>
                                <input type="text" id="translate" name="translate" autocomplete="off">
                            </div>
                            
                            <div class="input-field">
                                <label for="context">Context</label>
                                <input type="text" id="context" name="context" autocomplete="off">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn-primary">Add new word</button>
                    </form>
                </div>

                <button id="exportBtn" class="btn-secondary">Export dict to Anki (.apkg file)</button>
            </div>

        </div>
    </div>
</body>
</html>